/*background-image: linear-gradient(#FFDA00,#E83B7E);
jaune #FFDA00
bleu
rougerose #E83B7E
*/



@import url('https://fonts.googleapis.com/css?family=Chela+One|Montserrat');


header {
  font-size: 3.5em;
  font-family: 'Chela One', cursive;
  text-align: center;
  justify-content: center;
  background-color: #FFDA00;

}


h1 {
font-family: 'Montserrat', sans-serif;
font-weight: bold;
color: #000000;
font-size: 1.5em;
justify-content: center;
text-align: center;

}

li{
display: inline-flex;
}
.link{ color: #000000}
.linkhover{ color: #FFDA00}

p{
  font-family: 'Montserrat', sans-serif;
color: #000000;
}

footer {
    font-size: .8rem;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.output {
    background: #eee;
    position: relative;
}
